# Created by .ignore support plugin (hsz.mobi)
/.idea/
/.gradle/
.gradle/
.idea/caches/
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/vcs.xml
.idea/workspace.xml
XposedBridgeNew.iml
